<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{projectDetail.name}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="icon" href="../assets/img/icon.png" type="image/png" />
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="../assets/img/logo.png" class="img-fluid" alt="Image cannot be loaded">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-3 d-xxl-flex navbar-flex flex-grow-1">
          <div class="d-flex navbar-flex flex-grow-1">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../">Home</a>
            </li>
            {{#if isLogin}}
            <li class="nav-item">
              <a class="nav-link" href="../add-project">Add Project</a>
            </li>
            {{/if}}
          </div>
          <div class="d-flex me-3 flex-grow-1 nav-contact-container">
            {{#if isLogin}}
            <div class="mx-2">
              <h5>Hallo, {{user.name}}</h5>
            </div>
            <a href="../logout" class="btn btn-dark rounded mx-2">Logout</a>
            {{else}}
            <a href="../login" class="btn btn-dark rounded mx-2">Login</a>
            <a href="../register" class="btn btn-dark rounded mx-2">Register</a>
            {{/if}}
            <a href="../contact" class="btn btn-dark rounded mx-2">Contact Me</a>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <div class="m-5">
    <h1 class="text-center">{{projectDetail.name}}</h1>
    <div class="project-detail mt-5">
      <div class="project-detail-image-container">
        <img src="../assets/imageupload/{{projectDetail.image}}" class="card-img-top project-detail-image"
          alt="Image cannnot be loaded" />
      </div>
      <div class="project-detail-description ms-5">
        <div>
          <h3>Duration</h3>
          <p>
            <i class="fa-solid fa-calendar-days"></i>
            {{projectDetail.start_date}}
            -
            {{projectDetail.end_date}}
          </p>
          <p>
            <i class="fa-regular fa-clock"></i>
            {{projectDetail.duration}}
          </p>
        </div>
        <div>
          <h3>Technologies</h3>
          <div class="project-detail-technologies-wrapper">
            <p>
              {{#each projectDetail.technologies as |technologies|}}
              <i class="fa-brands fa-{{technologies}}"></i>
              {{technologies}}
              {{/each}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-align-justify container mt-5">
      <p>
        {{projectDetail.description}}
      </p>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
  <script src="https://kit.fontawesome.com/595039b2d5.js" crossorigin="anonymous"></script>
</body>

</html>